---
title: Welcome to Middleman
---
%h1 Code Enforement Violations San Diego

.category
  .group
    %p
      Currently 
      %span.open= data.cases.open_cases
      violation cases are open.
      %br
      From these
      %span.open= data.cases.open_cases
      cases
      %span.open.buildings= data.cases.building.open
      are Building violations, 
      %span.open.buildings= data.cases.zoning.open
      cases are Zoning violations,
      %span.open.compliance= data.cases.code_compliance.open
      are Code Compliance cases and
      %span.open.graffiti= data.cases.graffiti.open
      are Grafitti cases.
  .group-graph#working-group
.category
  %h2 Closing Reasons
  .group
    %p
      Of the 
      %span.closed= data.cases.closed_cases
      closed cases
      %span.closed.compliance= data.cases.compliance.closed
      were closed after compliance, on
      %span.closed.no-violation= data.cases.no_violation.closed
      no violation could be found, 
      %span.closed.no-reason= data.cases.no_reason.closed
      were closed without specifiying a reason,
      %span.closed.administrative= data.cases.administrative.closed
      were closed for Administrative reason and
      %span.closed.referred-cao= data.cases.referred_cao.closed
      were referenced as Referred CAO.
  .group-graph#closing-reasons
.category
  %h2 Sources
  .group
    %p
      The most cases were brought by the public.
      %span.source.citizen= data.cases.citizen.closed+data.cases.citizen.open
      were submitted by citizens,
      %span.source.nccd= data.cases.nccd_staff.closed+data.cases.nccd_staff.open
      by the NCCD Staff and
      %span.source.nccd= data.cases.other_department.closed+data.cases.other_department.open
      by Other Departments.
  .group-graph#case-sources

.category
  %h2 Sources
  .group-graph#case-per-month
.category
  %h2 Sources
  .group-graph#backlog-per-workgroup
.category
  %h2 Sources
  .group-graph#backlog-slope
