---
title: Welcome to Middleman
---
%h1 Code Enforement Violations San Diego

.category
  .group
    %p
      Currently 
      %span.open= data.cases.open_cases
      violation cases are open.
      %br
      From these
      %span.open= data.cases.open_cases
      cases
      %span.open.buildings= data.cases.building.open
      are Building violations, 
      %span.open.buildings= data.cases.zoning.open
      cases are Zoning violations,
      %span.open.compliance= data.cases.code_compliance.open
      are Code Compliance cases and
      %span.open.graffiti= data.cases.graffiti.open
      are Grafitti cases.
  .group-graph#working-group
.category
  %h2 Case Backlog 2016
  .group-graph#backlog-slope
.category
  %h2 Detailed Case Backlog per month in 2016
  .full-graph#case-per-month
.category
  %h2 Open Cases by Investigator
  .full-graph#backlog-investigator
.category
  %h2 Last Action for Open Cases
  %p Last Action for open cases with at least 100 Open cases.
  .full-graph#last-action
